:root{
    --color-green: rgb(69,245,6);
    --color-green2: #075e65;
    --color-green3: rgb(20, 164, 123);
    --color-white: #fff;
    --color-gray: rgb(220,220,220);


}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
  }

body{
    font-family: 'Poppins';
    background-image: url(./imagens/fundobranco.png);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
    

}



#container{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    max-width: 60;
    width: 90%;
    height: auto;
    border: solid red;
    
}

#botao-salvar{
    width: 60rem;
    height: auto;
    display: flex;
    justify-content: flex-end
    
}



.card {
    border-radius: 10px;
    text-align: center;
}
.card p {
    font-size: 0.9rem;
    color: #555;
}

#caixa-formulario {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: justify;
    padding: 8px;
}


#tabelas {
    border: 1px solid black;
}


  