:root{
    --color-green: rgb(69,245,6);
    --color-green2: #075e65;
    --color-green3: rgb(20, 164, 123);
    --color-white: #fff;
    --color-gray: rgb(220,220,220);


}


body{
    font-family: 'Poppins';
    background-image: url(imagens/fundobranco.png);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    

}




#container{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    max-width: 60;
    width: 90%;
    height: auto;
    
    
}


#botao-salvar{
    padding: 5px;
    position: absolute;
    right: 1%;
}

.card {
    border-radius: 10px;
    text-align: center;
}
.card p {
    font-size: 0.9rem;
    color: #555;
}

#caixa-formulario {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: justify;
}

